-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= form_for StatusMessage.new, html: {class: "control-group", data: {ajax: false}} do |status|
  .form-group
    = status.hidden_field :provider_display_name, value: 'mobile'
    = status.text_area :text, placeholder: t('shared.publisher.whats_on_your_mind'), rows: 4, autofocus: "autofocus", class: "form-control"

  .form-group
    %span#publisher-service-icons
      - if current_user.services
        - for service in current_user.services
          = image_tag "social-media-logos/#{service.provider}-32x32.png",
            title: service.provider.titleize, class: "service_icon dim",
            id: "#{service.provider}", maxchar: "#{service.class::MAX_CHARACTERS}"

    %select{id: "aspect_ids_", class: "form-control", name: "aspect_ids[]"}
      %option{value: 'public'}
        = t('public')

      %option{value: 'all_aspects', selected: true}
        = t('all_aspects')

      - current_user.aspects.each do |aspect|
        %option{value: aspect.id}
          = "· #{aspect.name}"

    .clear
    #publisher_textarea_wrapper
      %ul#photodropzone
    #fileInfo-publisher

    #file-upload-publisher{title: t('shared.publisher.upload_photos'), class: 'btn btn-default'}
      %i.entypo-camera.middle
    
    = button_tag "", :id=> 'owncloud-upload-mobile', :class => 'owncloud-upload-mobile', :type => 'button'

    #publisher_mobile
      = submit_tag t("shared.publisher.share"),
        class: "btn btn-primary",
        id: "submit_new_message",
        data: {"disable-with" => t("shared.publisher.posting")}
    .clearfix

  #jstree-container
