#section_header
  .sidebar-header.clearfix
    %h3
      = t("settings")
  .list-group#settings_nav
    = link_to t("profile"), edit_profile_path,
      class: current_page?(edit_profile_path) ? "list-group-item active" : "list-group-item"
    = link_to t("account"), edit_diaspora_owncloud_user_path,
      class: request.path == edit_diaspora_owncloud_user_path ? "list-group-item active" : "list-group-item"
    = link_to t("privacy"), privacy_settings_path,
      class: current_page?(privacy_settings_path) ? "list-group-item active" : "list-group-item"
    = link_to t("_services"), services_path,
      class: current_page?(services_path) ? "list-group-item active" : "list-group-item"
    = link_to t("_applications"), api_openid_connect_user_applications_path,
      class: current_page?(api_openid_connect_user_applications_path) ? "list-group-item active" : "list-group-item"
