.nav.navbar-inverse.navbar-fixed-top#main-nav
  .container-fluid
    .navbar
      = link_to(image_tag("branding/logos/asterisk_white_mobile.png", class: "img-responsive"),
          stream_path, id: "header-title", class: "navbar-brand")

      - if user_signed_in?
        %ul.nav.navbar-nav#nav-badges
          -# Notifications
          %li
            = link_to diaspora_owncloud_notifications_path, class: "badge-link", id: "notification-badge" do
              %i.entypo-bell
              - if current_user.unread_notifications.size > 0
                %span.badge.badge-important#notification
                  = current_user.unread_notifications.size

          -# Conversations
          %li
            = link_to conversations_path, class: "badge-link", id: "conversations-badge" do
              %i.entypo-mail
              - if current_user.unread_message_count > 0
                %span.badge.badge-important#conversation
                  = current_user.unread_message_count

          -# Owncloud
          %li
            = link_to "", "/owncloud", :class=> 'owncloud-link', :id=> 'owncloud-link'

          -# Publisher
          %li
            = link_to "diaspora_owncloud_status_messages/new", class: "badge-link", id: "compose-badge" do
              %i.diaspora-custom-compose

          -# Menu
          %li
            %button.navbar-toggle#menu-badge{type: "button"}
              %span.sr-only
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

      - else
        = render "layouts/diaspora_owncloud/header_not_connected"
