-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{lang:  I18n.locale.to_s, dir:  (rtl?) ? 'rtl' : 'ltr'}
  %head{prefix:  og_prefix}
    %title
      = page_title yield(:page_title)

    %meta{charset:  'utf-8'}/
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{name:  "description", content:  "diaspora*"}/
    %meta{name:  "author", content:  "diaspora* contributors"}/
    %meta{name:  "viewport", content:  "width=device-width, initial-scale=1"}/

    %link{rel:  'shortcut icon', href:  "#{image_path('favicon.png')}" }

    = render 'layouts/open_graph'

    = chartbeat_head_block
    = include_mixpanel

    = include_color_theme
    
    = stylesheet_link_tag :jstree_style, media:  'all'

    = stylesheet_link_tag :diaspora_owncloud, media:  'all'

    - if rtl?
      = stylesheet_link_tag :rtl, media:  'all'

    - if Rails.env.test?
      = stylesheet_link_tag :poltergeist_disable_transition, media: "all"

    = old_browser_js_support
    <!--[if IE]>
    = javascript_include_tag :ie
    <![endif]-->

    = jquery_include_tag
    = javascript_include_tag :diaspora_owncloud_main, :diaspora_owncloud_templates
    = load_javascript_locales

    = translation_missing_warnings
    = current_user_atom_tag

    = yield(:head)
    = csrf_meta_tag


    = include_gon(camel_case:  true)

  %body{ class:  "page-#{controller_name} action-#{action_name}" }
    = yield :before_content

    %noscript
      .noscript
        %h3= t("error_messages.need_javascript")

    = content_for?(:content) ? yield(:content) : yield

    = yield :after_content

    = include_chartbeat
    = include_mixpanel_guid

    .blueimp-gallery.blueimp-gallery-controls#blueimp-gallery
      .slides
      %h3.title
      %a.prev
        .entypo-chevron-small-left
      %a.next
        .entypo-chevron-small-right
      %a.close
        .entypo-cross
      %a.play-pause
      %ol.indicator

    #flash-container= flash_messages
